@import 'https://unpkg.com/open-props';

body {
  font-family: var(--font-monospace-code);
  display: flex;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

blockquote {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  color: var(--_ink);
  border-color: var(--_accent-2);
  background-color: var(--_bg);
  justify-self: flex-start;
}

.login-form,
.reset-password-form,
.newsletter-form {
  display: grid;
  gap: var(--size-4);
  padding: var(--size-4);

  input {
    padding: var(--size-2);
  }
  button {
    padding: var(--size-2);
  }
}

header.main-header {
  background-color: rgb(108 108 108);
  padding: 1.2rem 0;
  anchor-name: --my-anchor;
}

footer {
  background-color: rgb(108 108 108);
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h6 {
    color: snow;
    padding: 0.25rem 0;
    margin: 0;
  }
}
nav > ul {
  font-family: var(--font-monospace-code);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 96%;
  margin: auto;
  list-style: none;
  gap: 2rem;
  padding: 0;
  a {
    text-decoration: none;
    color: snow;
    background-color: black;
    padding: var(--size-2) var(--size-4);
  }
}

.status {
  position: absolute;
  position-anchor: --my-anchor;
  bottom: anchor(bottom);
  right: anchor(right);
}

button {
  padding: 0.5rem 1rem;
  min-width: 6rem;
  margin: 0.25rem;
}

.hide {
  display: none;
}

.error {
  color: crimson;
  background-color: black;
}

.checkLoginStatus {
  display: grid;
  grid-auto-flow: column;
  background-color: crimson;
  gap: 20px;
  padding: 1rem;
  place-items: center;
  margin: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
}
