@import 'https://unpkg.com/open-props';

body {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

blockquote {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  color: var(--_ink);
  border-color: var(--_accent-2);
  background-color: var(--_bg);
  justify-self: flex-start;
}

.login-form {
  display: grid;
  gap: var(--size-4);
  padding: var(--size-4);

  input {
    padding: var(--size-2);
  }
  button {
    padding: var(--size-2);
  }
}

header {
  background-color: rgb(108 108 108);
  padding: 1rem 0;
}
nav > ul {
  font-family: var(--font-monospace-code);
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  margin: auto;
  list-style: none;
  gap: var(--size-4);
  padding: 0;
  a {
    text-decoration: none;
    color: snow;
    background-color: black;
    padding: var(--size-2) var(--size-4);
  }
}
